header.header 
    .container 
        .header__body 
            .header__logo 
               h1 logo
            nav(class="header__menu menu")
                ul.menu__list 
                    li.menu__item 
                        a(href="#" class="menu__link") Home 
                    li.menu__item 
                        a(href="#" class="menu__link") About
                    li.menu__item 
                        a(href="#" class="menu__link") Servicing 
                    li.menu__item 
                        a(href="#" class="menu__link") Portfolio 
                    li.menu__item 
                        a(href="#" class="menu__link") Blog 
                    li.menu__item 
                        a(href="#" class="menu__link") Contact us
    