@font-face {
    font-family: "OS ExtraBold";
    src: url("../fonts/OpenSans-ExtraBold.ttf");
    src: local("Open Sans"),
        url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
